<div class="container">
  <section class="switch">
    <div class="slideThree">
      <input type="checkbox" value="None" id="slideThree" name="check" checked ng-checked="status" ng-click="updateStatus()" />
      <label for="slideThree"></label>
    </div>
  </section>
  <div class="row pending">
    <div class="col-md-3" ng-repeat="climber in readStatus" ng-if="climber">
      <div class="info-card-pending">
        <div class="info-card-details animate">
          <div class="info-card-header">
            <h1> {{climber.recipient.username}} </h1>
            <h3> {{climber.recipient.skillLevel}} / {{climber.recipient.gender}}</h3>
          </div>
          <div class="info-card-detail">
            <!-- Description -->
            <div class='animate-hide' ng-if="!climbOnClicked[climber.id]">
              <p> Your request has been sent. </p>
              <p> Awaiting response </p>
              <button ng-class="read" class="climbOnBtn btn btn-deny outline" ng-click="cancel(climber)">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row notifications">
    <div class="col-md-3" ng-repeat="climber in activeClimbers" ng-if="climber">
      <div class="info-card">
        <!-- Image Needs Implementation -->
        <img style="width: 100%" src="assets/img/profile-generic.jpg" />
        <div class="info-card-details animate">
          <div class="info-card-header">
            <h1> {{climber.username}} </h1>
            <h3> {{climber.skillLevel}} / {{climber.gender}}</h3>
          </div>
          <div class="info-card-detail">
            <!-- Description -->
            <div class='animate-hide' ng-if="!climbOnClicked[climber.id]">
              <p>Looking to climb with some fellow {{climber.skillLevel}} climbers! </p>
              <button ng-class="class" class="climbOnBtn btn btn-primary outline" ng-click="climbOn(climber)">Climb On</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
