<div class="container">
    <!-- Incoming Messages (People that want to climb with me) -->
    <div class="row">
        <h3 class="text-center divider"> Incoming </h3>
        <hr>
        <div class="[ col-md-3 ]" ng-repeat="climber in notifications.incoming">
            <div class="[ notif-info-card ]" ng-click="moreInformation(climber)">
                <img class="[ notif-profile-img img-circle img-responsive ]" src="assets/img/profile-generic.jpg" />
                <div class="[ notif-info-card-details ] animate">
                    <h3> {{climber.sender.username}}</h3>
                    <h4> Awaiting Reply</h4>
                    <h5> {{climber.sender.skillLevel}} / {{climber.sender.gender}} </h5>
                    <h5> {{climber.sender.zipCode}} </h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Outgoing Messages (People I want to climb with) -->
    <div class="row">
        <h3 class="text-center divider"> Outgoing </h3>
        <hr>
        <div class="[ col-md-3 ]" ng-repeat="climber in notifications.outgoing">
            <div class="[ notif-info-card ]">
                <img class="[ notif-profile-img img-circle img-responsive ]" src="assets/img/profile-generic.jpg" />
                <div class="[ notif-info-card-details ] animate">
                    <h3> {{climber.recipient.username}}</h3>
                    <h4> Pending Confirmation</h4>
                    <h5> {{climber.recipient.skillLevel}} / {{climber.recipient.gender}} </h5>
                    <h5> {{climber.recipient.zipCode}} </h5>
                </div>
                <div class="[ notif-info-card-buttons ]">

                  <button class='climbOnBtn btn btn-danger outline' ng-click='climbOn(climber, false)'>Cancel</button>
		          <button ng-if="climber.isAccepted" class='climbOnBtn btn btn-success outline' ng-click='confirmClimb(climber, true)'>Confirm Acceptance</button>
                 
                </div>
            </div>
        </div>
    </div>
</div>
