<div class="container">
  <!-- Incoming Messages (People that want to climb with me) -->
  <div class="row">
    <div class="[ col-md-3 ]" ng-repeat="climber in notifications.incoming">
      <div class="[ notif-info-card ]" ng-click="moreInformation(climber)">
        <img class="[ notif-profile-img img-circle img-responsive ]" src="assets/img/profile-generic.jpg" />
        <div class="[ notif-info-card-details ] animate">
          <h3> {{climber.recipient.username}}</h3>
          <h4> Let's Shiba-dang!</h4>
          <h5> {{climber.recipient.skillLevel}} / {{climber.recipient.gender}} </h5>
          <h5> {{climber.recipient.zipCode}} </h5>
        </div>
        <div class="notif-info-card-buttons">
          <button class="climbOnBtn btn btn-success outline" ng-click="climbOn(climber)"> Climb </button>
          <button class="climbOnBtn btn btn-deny outline" ng-click="cancel(climber)"> Nope </button>
        </div>
      </div>
    </div>
  </div>
</div>
