<div class="container">
    <div class="row">
        <!-- Message displayed in modal -->
        <div id="notifmessage">
            <h4> {{targetClimber.username}} says: </h4>
            <blockquote>
                <p>{{targetClimber.message}}</p>
            </blockquote>
            <button class='climbOnBtn btn btn-success outline' ng-click='climbOn(targetClimber, true)'>Confirm</button>
            <button class='climbOnBtn btn btn-danger outline' ng-click='climbOn(targetClimber, false)'>Deny</button>
        </div>
    </div>
</div>
